.AddQuote {
    width: 800px;
    margin: 3% auto;
    border: 2px solid black;
    padding: 35px;
}

.Field {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.Field:focus {
    outline: none;
}

.AddQuote button {
    padding: 10px 15px;
    background: rgb(252, 210, 132);
    border: 1px solid rgb(252, 210, 132);
    outline: none;
}
.AddQuote button:hover {
    background: rgb(253, 138, 103);
    border: 1px solid rgb(253, 138, 103);
    cursor: pointer;
}

.AddQuote select {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}
