.Header {
    background: aquamarine;
}
.header-inner {
    display: flex;
    align-self: center;
    justify-content: space-around;
}
.header-inner p {
    margin: 15px 0 0 0;
    padding: 0;
}

.header-inner ul {
    list-style: none;
    display: flex;
}

.header-inner li {
    margin-left: 20px;
}
